<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Voyager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Voyager</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/signup">New User Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="/dailyLog/add">Add Daily Summary</a></li>
        <li class="nav-item"><a class="nav-link" href="/dailyLog/view">View Daily Summary</a></li>
    </ul>
</nav>

</body>
</html>